{{#link-to "employee.index"}}Back{{/link-to}}
<article class="listing list-detail">
  
  <div class="heading-padding">
    <h3>{{model.empdetails.firstName}} {{model.empdetails.lastName}} : </h3>
    <span>{{#link-to "employee.edit" model class="button right-most"}}Edit{{/link-to}}</span>
  </div>

  <div class="val-padding">
    Date Of Birth : {{model.empdetails.dateOfBirth}}
  </div>

  <div class="val-padding">
    Email : {{model.email}}
  </div>

  <div class="val-padding">
    Designation : {{print-designation model.empdetails.designation}}
  </div>

  <div class="val-padding">
    Job Type : {{emp-type model.empdetails.empType}}
  </div>  

  <div class="val-padding">
    Date Of Joining : {{model.empdetails.dateOfJoining}}
  </div>

  <div class="val-padding">
    Address : {{model.empdetails.address}}
  </div>  
  
  <div class="val-padding">
    Phone No : {{model.empdetails.phoneNo}}
  </div>

  <div class="val-padding">
    Lang Known : {{model.empdetails.langKnown}}
  </div>

<div class="task-button">
  {{#link-to "employee.tasks" model class="button"}}
    List Task(s)
  {{/link-to}}
  {{#link-to "employee.addtask" model class="button"}}
    Add Task
  {{/link-to}}
</div>
</article>
{{outlet}}