{{#link-to "employee.index"}}Back{{/link-to}}
<article class="listing list-detail">
  <div class="heading-padding">
    <h3>{{model.firstName}} {{model.lastName}} : </h3>
    <span>{{#link-to "employee.edit" model class="button right-most"}}Edit{{/link-to}}</span>
  </div>
  <div class="val-padding">
    Designation : {{print-designation model.designation}}
  </div>  
  <div class="val-padding">
    Email : {{model.email}}
  </div>
  <div class="val-padding">
    Date Of Joining : {{model.dateOfJoining}}
  </div>
  <div class="val-padding">
    Job Type : {{emp-type model.empType}}
  </div>
</article>
{{outlet}}