{{#if model.length}}
  Assigned Tasks : 
  <div class="table-responsive">
    <table class="tasks-disp-table">
      <tr>
        <th>Task Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      {{#each model as |task|}}
        <tr>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task.startDate}}</td>
          <td>{{task.endDate}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
{{else}}
  No tasks created
{{/if}}
{{outlet}}